
body {
  font-family: Arial, Helvetica, sans-serif; /* Sets the font for the entire page */
  background-color: #b547ff;/* Sets the background color using a HEX value */
  margin: 0; /* Removes default browser margin */
  padding: 20px; /* Adds space inside the border */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* makes the body the the full height of the view */
}

h1 {
  color: #333; /* Sets the color of all h1 elements */
  text-align: center; /* Centers the text */
}